*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body{
  color: white;
  font-family: 'Montserrat', sans-serif;
}
:root{
  --grigio: #7B7E82;
  --verde: #ADFF2F;

}
.d-flex{
  display: flex;
}
.debug{
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col{
  width: calc(100% / 6);
  text-align: center;

  padding: 10px;
  cursor: pointer;
  position: relative;
}
a{
  text-decoration: none;
}

/* MAIN */

.main-wrapper{
  background-color: #141922;
  width: 100%;
  height: 100vh;
}
#left-bar{
  float: left;     
  width: 250px;
  height: calc(100% - 90px);
  background-color: black;
}
.left-container{
  flex-direction: column;
  margin: 15px 10px 0 15px;
}
.left-btn{
  cursor:pointer;
  position: relative;
}
.logo{
  cursor: pointer;
  width: 150px;
  color: rgb(255, 255, 255);
}
#logo-small{
  display: none;
}
.icons{
  flex-direction: column;
  padding-top:15px;
}
.icons img{
  width: 30px;
  margin-top: 10px;
}
.icons aside{
  position: absolute;
  left: -17px;
  top: 0px;
  font-size: 38px;
  display: none;
  
}
.icons span{
  position: absolute;
  left: 25%;
  bottom: 25%;
  font-weight: 600;
  font-size: 14px;
  color: var(--grigio);
}
.icons .left-btn:hover aside{
  color:var(--verde);
  display: inline-block;
}
.icons .left-btn:hover span{
  color: white;
}
.playlist h2{
  text-transform: uppercase;
  margin: 25px 0px;
  font-size: 1.1rem;
  font-weight: 700;
  
}
.crea-playlist span{
  cursor: pointer;
  padding-left: 10px;
  color: var(--grigio);
  font-weight: 700;
  font-size: 16px;
}
.crea-playlist span:hover{
  color: white;
}
.crea-playlist i{
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  background-color: var(--grigio);
  cursor: pointer;
}
.playlist ul{
  height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}
.playlist ul li{
  line-height: 35px;
}
.playlist ul li a{
  color: var(--grigio);
  font-weight: 600;
}
.playlist ul li a:hover{
  color: white;
}
.overflow{
  overflow-y: auto;
}
.bottom-info{
  z-index: 33;
  cursor: pointer;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
}
.bottom-info .installa-app{
  border-bottom: 1px solid var(--grigio);
  padding: 5px 0px;
  padding-right: 90px;
  color: var(--grigio);
  font-weight: 600;
}
.bottom-info .installa-app:hover{
  color: white;
}
.bottom-info .installa-app img{
  width: 20px;
  vertical-align: middle;
}
.bottom-info .john{
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  
}
.bottom-info .john img{
  width: 25px;
  background-color: var(--grigio);
  border-radius: 50%;
  vertical-align: middle;
}

#top-bar{
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 80px;
  background-color: #080b12c8;
  justify-content: flex-end;
  align-items: center;
}
.top-btn a{
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  margin-right: 60px;
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 25px;
  transition: all .5s;
}
.top-btn a:hover{
  font-size: 1rem;
  padding: 12px 27px;
}

#big-container{
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
  padding-top: 80px;
}
.testo{
  height: 30px;
  
}
.hover-card{
  background-color: rgba(0, 0, 0, 0.801);
  width: calc(100% - 20px);
  height: calc(100% - 25% - 15px);
  position: absolute;
  top: 10px;
  opacity: 0;
}

.hover-card i{
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hover-card:hover{
  opacity: 1;
}
.nav-bar{
  width: 100%;
  height: 80px;
}
.nav-bar div{
  justify-content: center;
  padding-top: 20px;
}
.nav-bar .row a{
  margin-right: 10px;
  font-size: .8rem;
  font-weight: 600;
  color:var(--grigio);
}
.nav-bar .row a h5{
  font-size: 1rem;
  text-align: center;
  margin-top: -10px;
  opacity: 0;
}
.nav-bar .row a:active h5{
  color: var(--verde);
  opacity: 1;
}
.nav-bar .row a:hover{
  color: white;
}
.col img {
  width: 100%;
  height: calc(100% - 25%);
}
.col h3{
font-size: 1rem;
margin-top: 5px;
margin-bottom: 5px;
}
.col span{
  font-size: 12px;
  color: var(--grigio);
  font-weight: 600;
}
.margin{
  margin-top: 70px;
}
.description{
  margin-left: 15px;
}
.description h2{
  margin-bottom: 20px;
  font-weight: 700;
}
.description p{
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--grigio);

}
.artisti{
  margin-bottom: 150px;
}
.artisti .row .col img{
  border-radius: 50%;
}
.hover-card-circle{
  background-color: rgba(0, 0, 0, 0.801);
  width: calc(100% - 20px);
  height: calc(100% - 25% - 15px);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  opacity: 0;
}
.hover-card-circle i{
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hover-card-circle:hover{
  opacity: 1;
}
/* FOOTER */
footer #bottom-bar{
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #282828;
  justify-content: space-between;
  align-items: center;
}
.riproduzione,.volume{
  width: calc(100% /3);
}

.riproduzione{
  /* flex-wrap: wrap; */
}
.riproduzione .album img{
  width: 50px;
  margin-left: 10px;
}
.nome-album{
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 700;
}
.nome-album span{
  font-size: 12px;
  color: var(--grigio);
  font-weight: 700;
}
.action{
  flex-wrap: wrap;
  align-items: center;
  margin-left: 35px;
  color: var(--grigio);
}
.fa-heart{
  padding-right: 10px;
}
.player{
  cursor: pointer;
  width: calc(100% / 1.5);
  flex-direction: column;
  
}
.player-btn{
  margin-bottom: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}
.player-btn i{
  font-size: 1.2rem;
  margin: 0px 10px;
}
.player-btn i:hover{
  font-size: 1.5rem;
}
.player-btn .fa-circle-play{
  font-size: 2rem;
}
.player-btn .fa-circle-play:hover{
  font-size: 2.5rem;
}
.minutaggio{
  justify-content: center;
  align-items: center;
  
}
.a{
  flex-direction: row;
}
.barra-w{
  position: relative;
  max-width: 150px;
  width: 15%;
  border-bottom: 3px solid white;
}
.circle{
  display: none;
  position: absolute;
  bottom:-11px;
  right: 0;
}

.minutaggio:hover .barra-w{
  border-bottom: 3px solid var(--verde);
}
.minutaggio:hover .circle{
  display: block;
}
.barra{
  max-width: 350px;
  width: 40%;
  border-bottom: 3px solid var(--grigio);
}
.b-radius{
  border-bottom-right-radius:2px;
  border-bottom-left-radius: 2px ;
}
.minuto{
  margin: 0px 20px;
  font-size: 12px;
  font-weight: 600;
}
.volume{
  justify-content: flex-end;
  align-items: center;
}
.volume span i{
  margin: 0px 5px;
}
.barra-vol-w{
  margin-left: 10px;
  width: 8%;
  border-bottom: 3px solid white;
}
.barra-vol{
  margin-right: 10px;
  width: 18%;
  border-bottom: 3px solid var(--grigio);
}





/* MEDIA QUERY */
@media screen and (max-width:1399px) {
  .col h3{
    font-size: 0.9rem;
  }
  .col span{
    font-size: 10px;
  }
}

@media screen and (max-width:1105px) {
  .col{
    width: calc(100% / 4);
    margin-top: 50px;
  }
@media screen and (max-width:876px){
  .col h3{
    font-size: 0.8rem;
  }
  .col span{
    font-size: 8px;
  }
}
@media screen and (max-width:768px) {
  .logo img{
    display: none;
  } 
  #logo-small{
    display: block;
    filter: brightness(100);
    width: 40px;
  }
  .left-btn span{
    display: none;
  }
  .playlist{
    display: none;
  }
  .bottom-info .installa-app{
    border-bottom:0px;
    padding-left: 12px;
  }
  .bottom-info .john{
    width: 30px;
    padding-left: 10px;
  }
  .installa-app span,
  .john span{
    display: none;
  }
  #left-bar{
    width: 80px;
  }
  #top-bar{
    width: calc(100% - 80px);
  }
  #big-container{
    width: calc(100% - 80px);
    left: 80px;
  }
  .col{
    width: calc(100% / 2);
    margin-top: 0px;
  }
  .col h3{
    font-size: 0.9rem;
  }
  .col span{
    font-size: 10px;
  }
}
  @media screen and (max-width:578px){
    .col h3{
      font-size: 0.8rem;
    }
    .col span{
      font-size: 8px;
    }
}

